<div class='hero'>
    <div class='hero-genre-list'>
        <p class='hero-genre-item active'>NEW TODAY</p>
        <p class='hero-genre-item'>ACTION</p>
        <p class='hero-genre-item'>COMEDY</p>
    </div>
    <div class='hero-main-ad'>
        <img src='https://s3-alpha-sig.figma.com/img/45e8/4241/98ac133213097010f5d8539240913ccc?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Te7w8zmGA7rl-J70xb0fyrtryEsvO3zCGTqKWS1ZdQUnC1wB2ylZjkPAG-Uq82eLk6iuzSg31FfV0shZ21cigxFAGeE60fgJsm8KReZYbUpQjbLQ6kFYNn4h3Ntd~nSvFxRVWagU6vNNiLEcRwDybaignEFxlQUVPABRme3cTjgmySBcvnV6wSr1bT3ErKCS4rMjf3vDVeJNjwfDs8LVNmu1tmmvh5sP6NN50xFAqQWoggIQz1AKpP57dXZHnvVUuscrdpWeIfLPW4DRXyHJ-WhsZyHlHvkTUC80EXItnMLK4AYqmYk3iexRph1iG36Tm-g7-ns0YmGLPm1vqkE4AQ__' alt='Mami Pythagoras and the gateman' class='hero-img'>
        <p class='hero-main-description'>This is the comic synopsis which is clickable to open more details about it. Let&apos;s add some new text here.</p>
    </div>
    <div class='hero-ads-list'>
        <app-hero-ads *ngFor='let ads of adsList' 
        [ads]='ads'></app-hero-ads>
    </div>
</div>