.navbar {
    position: fixed;
    top: 0;
    width: 400px;
    height: 45px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

.logo {
    width: 35px;
    height: 45px;
}

.profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}