<section>
    <div class='header'>
      <app-navbar></app-navbar>
      <app-hero></app-hero>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Recommended for John Snow</h2>
        <div class='tab-list'>
          <app-recommendations *ngFor='let recommended of recommendedList' 
              [recommended]='recommended'>        
          </app-recommendations>
          <div class='see-all-btn'>
            <div class='see-all'>
              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
              </svg>     
            </div>
            <p>See All</p>
          </div>
        </div>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Resume Reading</h2>
        <div class='tab-list'>
          <app-resume *ngFor='let resume of resumeList' [resume]='resume'>        
          </app-resume>
          <div class='see-all-btn'>
            <div class='see-all'>
              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
              </svg>     
            </div>
            <p>See All</p>
          </div>
        </div>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Extras</h2>
        <div class='tab-list'>
          <app-extra *ngFor='let extra of extraList' [extra]='extra'>        
          </app-extra>
        </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Start Here</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let start of startList' 
            [recommended]='start'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Zebra Kids</h2>
      <div class='tab-list'>
        <app-poster *ngFor='let poster of posterList' 
            [poster]='poster'>        
        </app-poster>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Romance</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let recommended of recommendedList' 
            [recommended]='recommended'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Afro-Futurism</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let recommended of recommendedList' 
            [recommended]='recommended'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Zebra Exclusive</h2>
      <div class='tab-list'>
        <app-poster *ngFor='let poster of posterList' 
            [poster]='poster'>        
        </app-poster>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Top Series</h2>
      <div class='tab-list'>
        <div class='tab-col'>
          <p>ACTION</p>
          <app-series-container [seriesList]='actionSeries'></app-series-container>
        </div>
        <div class='tab-col'>
          <p>ROMANCE</p>
          <app-series-container  [seriesList]='romanceSeries'></app-series-container>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Trending</h2>
      <div class='tab-list'>
        <app-trending *ngFor='let trending of trendingList' 
            [trending]='trending'>        
        </app-trending>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Adventure</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let recommended of recommendedList' 
            [recommended]='recommended'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <div class='tab-list'>
        <app-new-release *ngFor='let release of releaseList' [release]='release'>        
        </app-new-release>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Teen</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let recommended of recommendedList' 
            [recommended]='recommended'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Slice of Life</h2>
      <div class='tab-list'>
        <app-recommendations *ngFor='let recommended of recommendedList' 
            [recommended]='recommended'>        
        </app-recommendations>
        <div class='see-all-btn'>
          <div class='see-all'>
            <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
            </svg>     
          </div>
          <p>See All</p>
        </div>
      </div>
    </div>
    <div class='tab'>
      <h2 class='tab-title'>Genres</h2>
      <h2 class='tab-title-sm'>Explore your favorite genres</h2>
      <div class='genre-list'>
        <app-genres *ngFor='let genre of genresList' [genre]='genre'>        
        </app-genres>
      </div>
    </div>
    <div class='btn-tab'>
      <button class='share-btn'>Share App</button>
    </div>
    <app-bottom-navigation></app-bottom-navigation>
  </section>