.header {
    height: 650px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.126) 100%);
}

.tab {
    margin: 10px 0px;
    margin-left: 10px;
}

.tab-list {
    display: flex;
    align-items: center;
    height: fit-content;
    overflow-x: scroll;
    gap: 15px;
}

.tab-title {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 22px;
}

.tab-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tab-col p {
    font-size: 14px;
    color: rgb(200, 200, 200);
    font-weight: 100;
    width: fit-content;
}

.see-all {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border-radius: 50%;
}

.see-all-btn  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.see-all-btn p {
    color: #ccc;
    font-size: 14px;
}