.header {
    height: 650px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.126) 100%);
}

.container {
    max-width: 400px;
}

.tab {
    margin: 10px 0px;
    margin-left: 10px;
}

.genre {
    overflow-x: scroll;
}

.tab-list {
    display: flex;
    align-items: center;
    height: fit-content;
    overflow-x: scroll;
    gap: 15px;
}

.tab-title {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 22px;
}

.tab-title-sm {
    margin: 20px 0px;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(200, 200, 200);
}

.tab-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tab-col p {
    font-size: 14px;
    color: rgb(200, 200, 200);
    font-weight: 100;
    width: fit-content;
}

.see-all {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border-radius: 50%;
}

.see-all-btn  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.see-all-btn p {
    color: #ccc;
    font-size: 14px;
}

.genre-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: calc(170px * 6 + 10px * 5);
}

.btn-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 130px;
}

.share-btn {
    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}