<section>
    <div class='header'>
      <app-navbar></app-navbar>
      <app-hero></app-hero>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Recommended for John Snow</h2>
        <div class='tab-list'>
          <app-recommendations *ngFor='let recommended of recommendedList' 
              [recommended]='recommended'>        
          </app-recommendations>
          <div class='see-all-btn'>
            <div class='see-all'>
              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
              </svg>     
            </div>
            <p>See All</p>
          </div>
        </div>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Resume Reading</h2>
        <div class='tab-list'>
          <app-resume *ngFor='let resume of resumeList' [resume]='resume'>        
          </app-resume>
          <div class='see-all-btn'>
            <div class='see-all'>
              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 13.5L24 7L17.5 0.5L16.793 1.207L22.086 6.5L0 6.5V7.5L22.086 7.5L16.793 12.793L17.5 13.5Z" fill="white"/>
              </svg>     
            </div>
            <p>See All</p>
          </div>
        </div>
    </div>
    <div class='tab'>
        <h2 class='tab-title'>Extras</h2>
        <div class='tab-list'>
          <app-extra *ngFor='let extra of extraList' [extra]='extra'>        
          </app-extra>
        </div>
    </div>
  </section>