.hero-ads {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.ads-image {
    height: 40px;
    width: 60px;
    border-radius: 5px;
}

.empty-image-placeholder {
    height: 40px;
    width: 60px;
    background: rgba(217, 217, 217, 1);
    border-radius: 5px;
}

.ads-progress {
    margin: 0;
    width: 60px;
    height: 5px;
    background-color: #adadad00;
}

.ads-progress::-webkit-progress-bar {
    background-color: #adadad; 
    border-radius: 10px; 
}

.ads-progress::-webkit-progress-value {
    background-color: #ffffff; 
    border-radius: 10px;
}

.ads-progress::-moz-progress-bar {
    background-color: #ffffff; 
    border-radius: 10px; 
}